{% extends "main.twig" %}

{% block style %}
<link rel="stylesheet" href="./style/match.css">
<link rel="stylesheet" href="./style/index.css">
{% endblock style %}

{% block content %}
<main class="container-fluid bg-light">
    <div class="board">
        <section class="top-bar">
            <div class="league">
                <img src="photos/hiszpania.jpeg">
                {% verbatim %}
                <div class="nameOf" name="nameOf">HISZPANIA: {{matchLeague}}</div>
                {% endverbatim %}
            </div>
            <div class="date" name="date">
                {% verbatim %}
                {{matchData}}
                {% endverbatim %}
            </div>
        </section>

        <section class="middle">
            <div class="arms1">
                <img :src="arms1src" alt="team">
                {% verbatim %}
                <div class="team1" name="nameOfT1">{{matchTeam1Name}}</div>
                {% endverbatim %}
            </div>
            <div class="score">
                {% verbatim %}
                {{matchTeam1}} - {{matchTeam2}}
                {% endverbatim %}
            </div>
            <div class="arms2">
                <img :src="arms2src" alt="team">
                {% verbatim %}
                <div class="team2" name="nameOfT2">{{matchTeam2Name}}</div>
                {% endverbatim %}
            </div>
        </section>

        <div class="statistics-bar">
            <div class="overlap">
                Statistics
            </div>
        </div>
        <section class="statistics">
            <div style="width: 80%;">
                <div v-for="(s, k) in statistics" v-bind:key="s.id" class="single-stat">
                    <div class="stats">
                        {% verbatim %}
                        <div>{{ s.proc1 }}</div>
                        <div class="statid">{{ s.name }}</div>
                        <div>{{ s.proc2 }}</div>
                        {% endverbatim %}
                    </div>
                    <div class="belt1">
                        <div class="belt2" :style="style(k)"></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="squads-bar">
            <div class="overlap">
                Squads
            </div>
        </div>
        <section class="squads">
            <div class="wider-list">
                <div class="list">
                    <div v-for="s in squad" v-bind:key="s.id">
                        <div class="line">
                            {% verbatim %}
                            <div>{{ s.name1 }}</div>
                            <div>{{ s.name2 }}</div>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}